{% extends 'blogtemps/designlayout.html' %}
{% block title %}About Us{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block bodycontent %}

<body class=" bg-dark">
  <main class="cover-container d-flex mt-96 text-center w-100 h-100 p-3 text-light mx-auto flex-column">
    <div class=" px-3">
      <b class=" lead"> Welcome to SwiftSparks News - Your Daily Dose of Trending Stories and Lifestyle Inspiration! </b><br>
      <p class=" lead">
        At SwiftSparks, We're your go-to source for the latest in entertainment, lifestyle, and pop culture. <br>
        Our mission is to bring you a curated selection of sizzling news, captivating stories,<br>
        and practical tips that add a spark to your everyday life.</p>
      <p class=" lead">
        Who are we? We're a team of passionate writers, trend enthusiasts, and culture aficionados,<br>
        dedicated to scouring the web to handpick the hottest topics and deliver them right to your screen. <br>
        From celebrity scoops to wellness wonders, fashion trends to travel escapades, we've got it all covered.
      </p>
      <p class=" lead">
        Join us on this exciting journey as we explore the world of what's "in," what's "now," and what's simply
        irresistible. <br> Whether you're seeking your daily entertainment fix or seeking inspiration for a better life,
        <br> SwiftSparks News is your one-stop destination.
      </p>
      <p class=" lead">
        Stay connected, stay informed, and stay inspired with SwiftSparks! Your adventure into the pulse of today's world
        starts here.</p>
    </div>
  </main>
</body>
{% endblock bodycontent %}